{% extends 'base_template.html' %}

{% block pagetitle %}Create Order{% endblock %}
{% block pagebreadcrum %}Create Order{% endblock %}
{% block style %}
<style>
    .btn-upload {
  padding: 10px 20px;
  margin-left: 10px;
}
.upload-input-group {
    margin-bottom: 10px;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  height: 45px;
}
</style>
{% endblock %}
{% block content %}
{% for field in order_form %}
{% if field.errors %}
<div class="alert alert-danger" role="alert">
    <strong>{{ field.label }}:</strong>
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
</div>
{% endif %}
{% endfor %}
<div class="container mt-3">
    {% if messages %}
    {% for message in messages %}
    <div id="myAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<section class="content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
       
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Customer Information</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
                <div class="form-check">
                    {{ order_form.is_business }}
                    <label class="form-check-label" for="{{ order_form.is_business.id }}">
                        Are you a Business?
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Fist Name</label>
                    {{ customer_form.first_name }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    {{ customer_form.last_name }}
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Email</label>
                    {{ customer_form.email }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Phone Number</label>
                    {{ customer_form.phone_number }}
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="inputName">Shipping Address</label>
                {{ order_form.shipping_address }}
              </div>
              
            <div class="row">
                <div class="col-3">
                    <label for="inputName">City</label>
                    {{ order_form.city }}
                </div>
                <div class="col-4">
                    <label for="inputName">State</label>
                    {{ order_form.state }}
                </div>
                <div class="col-5">
                    <label for="inputName">Zip Code</label>
                    {{ order_form.zip_code }}
                </div>
            </div>
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-6">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Sign Details</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Width</label>
                    <div class="input-group">
                        
                        {{ order_form.width }}
                        <div class="input-group-append">
                        <span class="input-group-text">in</span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Height</label>
                    <div class="input-group">
                        
                        {{ order_form.height }}
                        <div class="input-group-append">
                            <span class="input-group-text">in</span>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Color</label>
                    {{ order_form.color }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Cut Type</label>
                    {{ order_form.cut_type }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputDescription">Project Description</label>
                <textarea class="form-control" id="{{ order_form.design_notes.id_for_label }}"
                                            name="{{ order_form.design_notes.name }}" rows="3"
                                            placeholder="{{ order_form.design_notes.field.widget.attrs.placeholder }}"></textarea>
              </div>
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Upload Design</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="card-body card-block">
                
                    
                    

                    <div class="row form-group">
                        <div class="col-12 col-md-12">
                            <div class="control-group" id="fields">
                                
                                <div class="controls">
                                    <div class="entry input-group upload-input-group">
                                        <input class="form-control" name="images" type="file">
                                        <button class="btn btn-upload btn-success btn-add" type="button">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>

                                </div>
                                

                            </div>


                        </div>

                    </div>

               
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="#" class="btn btn-secondary">Cancel</a>
        
        <button type="submit" class="btn btn-success float-right">Create Order</button>
        
      </div>
    </div>
</form>
  </section>





{% endblock %}
{% block scripts %}
    <!-- Your specific template scripts -->
    <script>
    $(function () {
            $(document).on('click', '.btn-add', function (e) {
                e.preventDefault();

                var controlForm = $('.controls:first'),
                    currentEntry = $(this).parents('.entry:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlForm);

                newEntry.find('input').val('');
                controlForm.find('.entry:not(:last) .btn-add')
                    .removeClass('btn-add').addClass('btn-remove')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="fa fa-trash"></span>');
            }).on('click', '.btn-remove', function (e) {
                $(this).parents('.entry:first').remove();

                e.preventDefault();
                return false;
            });
        });


        $(document).ready(function () {
    // Select the alert element
    var myAlert = $("#myAlert");

    // Set a timeout to automatically close the alert after 4 seconds
    setTimeout(function () {
        myAlert.slideUp(500, function(){
            myAlert.alert('close');
        });
    }, 4000);
});
    </script>
{% endblock %}