{% extends 'base_template.html' %}

{% block pagetitle %}Customers List{% endblock %}
{% block pagebreadcrum %}Customers{% endblock %}
{% block style %}

{% endblock %}

{% block content %}


<!-- Content Wrapper. Contains page content -->


<!-- Main content -->
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{ message.level_tag }}!</strong> {{ message }}
        </div>
    {% endfor %}
{% endif %}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="card-title">Customers</h3>
                        <!-- Add the "+" button here -->
                        
                        <div class="card-tools ml-auto">
                            
                            <a href="{% url 'customer:create_customer' %}" class="btn btn-tool">
                                <i class="fas fa-plus"></i>
                            </a>
                            </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dt-buttons btn-group flex-wrap"> <button
                                            class="btn btn-secondary buttons-copy buttons-html5" tabindex="0"
                                            aria-controls="example" type="button"><span>Copy</span></button> <button
                                            class="btn btn-secondary buttons-csv buttons-html5" tabindex="0"
                                            aria-controls="example" type="button"><span>CSV</span></button> <button
                                            class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                                            aria-controls="example" type="button"><span>Excel</span></button> <button
                                            class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                                            aria-controls="example" type="button"><span>PDF</span></button> <button
                                            class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example"
                                            type="button"><span>Print</span></button>
                                        <div class="btn-group"><button
                                                class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis"
                                                tabindex="0" aria-controls="example" type="button"
                                                aria-haspopup="true"><span>Column visibility</span><span
                                                    class="dt-down-arrow"></span></button></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="example_filter" class="dataTables_filter">
                                        <form method="get" action="{% url 'customer:customer_list' %}">
                                            <label>Search:
                                                <input type="search" class="form-control form-control-sm" placeholder=""
                                                       aria-controls="example" name="search_query" value="{{ search_query }}">
                                            </label>
                                            <button type="submit" class="btn btn-sm btn-primary">Search</button>
                                        </form>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                       
                                    <table id="example" class="table table-head-fixed table-bordered table-striped dataTable dtr-inline p-0 table-hover text-nowrap "
                                        aria-describedby="example_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1"
                                                    colspan="1" aria-label="Browser: activate to sort column ascending"
                                                    style="">First Name
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1"
                                                    colspan="1" aria-label="Browser: activate to sort column ascending"
                                                    style="">Last Name
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending"
                                                    style="">Email
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Engine version: activate to sort column ascending"
                                                    style="">Phone Number
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Engine version: activate to sort column ascending"
                                                    style="">Is Admin
                                                </th>
                                                    
                                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1"
                                                    colspan="1"
                                                    aria-label="CSS grade: activate to sort column ascending" style="">
                                                    Orders
                                                </th>
                                                <th class="" tabindex="0" aria-controls="example" rowspan="1"
                                                    colspan="1"
                                                    style="">
                                                    
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if all_customers_page %}
                                            {% for customer in all_customers_page %}
                                            <tr class="odd table-hover">
                                                <td class="dtr-control sorting_1" tabindex="0">{{ customer.first_name }}</td>
                                                <td style="">{{ customer.last_name }}</td>
                                                <td style="">{{ customer.email}}</td>
                                                <td style="">{{ customer.phone_number }}</td>
                                                <td style="">{{ customer.is_admin }}</td>
                                                <td style="">
                                                    
    
                                                    {{ customer.orders.count }}
    

                                                </td>
                                                <td class="text-right py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                    <a href="{% url 'customer:edit_customer' customer.id %}" class="btn btn-info"><i class="fas fa-pen"></i></a>
                                                    <a href="#" class="btn btn-danger delete-customer-btn" data-toggle="modal" data-target="#deleteCustomerModal" data-customer-id="{{ customer.id }}"><i class="fas fa-trash"></i></a>



                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="7">No customers available.</td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">First Name</th>
                                                <th rowspan="1" colspan="1" style="">Last Name</th>
                                                <th rowspan="1" colspan="1" style="">Email</th>
                                                <th rowspan="1" colspan="1" style="">Phone Number</th>
                                                <th rowspan="1" colspan="1" style="">Address</th>
                                                <th rowspan="1" colspan="1" style="">Orders</th>
                                                <th rowspan="1" colspan="1" style=""></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                 <!-- Pagination information -->
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" role="status" aria-live="polite">
                                Showing {{ all_customers_page.start_index }} to {{ all_customers_page.end_index }} of {{ all_customers_page.paginator.count }} entries
                                </div>
                            </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                        <ul class="pagination">
                                
                                            {% if all_customers_page.has_previous %}
                                                <li class="paginate_button page-item" id="example_previous">
                                                    <a href="?page=1" aria-controls="example" tabindex="0" class="page-link">First</a>
                                                </li>
                                                <li class="paginate_button page-item" id="example_previous">
                                                    <a href="?page={{ all_customers_page.previous_page_number }}" aria-controls="example" tabindex="0"
                                                        class="page-link">Previous</a>
                                                </li>
                                            {% endif %}
                                
                                            {% for i in all_customers_page.paginator.page_range %}
                                                <li class="paginate_button page-item {% if i == all_customers_page.number %}active{% endif %}">
                                                    <a href="?page={{ i }}" aria-controls="example" tabindex="0" class="page-link">{{ i }}</a>
                                                </li>
                                            {% endfor %}
                                
                                            {% if all_customers_page.has_next %}
                                                <li class="paginate_button page-item" id="example_next">
                                                    <a href="?page={{ all_customers_page.next_page_number }}" aria-controls="example" tabindex="0"
                                                        class="page-link">Next</a>
                                                </li>
                                                <li class="paginate_button page-item" id="example_next">
                                                    <a href="?page={{ all_customers_page.paginator.num_pages }}" aria-controls="example" tabindex="0"
                                                        class="page-link">Last</a>
                                                </li>
                                            {% endif %}
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Add this modal structure at the end of your HTML body -->
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="deleteCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCustomerModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this customer?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="#" class="btn btn-danger" id="confirmDeleteCustomerBtn">Delete</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block scripts %}
    
    <script>
     
     $(document).ready(function () {
    $('.delete-customer-btn').on('click', function () {
        var button = $(this);
        var customerId = button.data('customer-id');
        var modal = $('#deleteCustomerModal');

        // Update the href attribute with the correct URL
        var url = '{% url 'customer:delete_customer' customer_id=0 %}'.replace('0', customerId);
        modal.find('.btn-danger').attr('href', url);

        // Debugging: Log the generated URL
        console.log('Generated URL:', url);
    });

    // Ensure that the modal is hidden when closed
    $('#deleteCustomerModal').on('hidden.bs.modal', function () {
        // Reset href when modal is closed
        $(this).find('.btn-danger').attr('href', '#');
    });
});


      

    </script>
{% endblock %}
